body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(record.png);
  background-repeat: repeat;
  background-color: #dedede;
  font-family: arial, helvetica, sans-serif;
}

.header {
  background-color: #3a5c70;
  margin: 0;
}

.header > h1, h2 {
  color: #ffffff;
  text-align: center;
}

.main {
  display: flex;
  flex-flow: column wrap;
  background-color: #bdbdbd;
  padding: 1em;
  text-align: center;
}
